.image_class_hobby {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.image_class_hobby img {
  width: 100%;
  height: auto;
  object-fit: cover;
}